html,
body {
  height: 900px;
  width: 1200px;
  box-sizing: border-box;
}
canvas {
  display: block;
  padding:10px;  
}
.form-Container{
    padding:10px;
    display: block;
    align-items: center;   
}
.btn-send{
    background-color: green;
    color: white;
    margin-top: 20px;
}
.tables-container {
  padding: 10px;
  position: absolute;
  display: inline;
}
.processes-table{
  border:#1C6EA4 2px solid;
  padding: 5px;
  display:inline-block;
  width: 90%;
  height: 100%;  
}
.quewe-table{
  border:#1C6EA4 2px solid;
  padding: 5px;
  display:inline-block;
  width: 10%;
  height: 100%;
}

.processT {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.processT td, .processT th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
.processT tbody td {
  font-size: 15px;
}
.processT tr:nth-child(even) {
  background: #D0E4F5;
}
.processT thead {
  background:#1C6EA4;
  border-bottom: 1px solid #444444;
}
.processT thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}
.processT thead th:first-child {
  border-left: none;
}

.processT tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
.processT tfoot td {
  font-size: 14px;
}
.processT tfoot .links {
  text-align: right;
}
.processT tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}